<style>
.zeroPadding{
padding:0px !important}
.errorMsg{
border:2px solid red;
}
</style>
<div class="container">
  <h2>Assign Tasks</h2>
  <form>
    <div class="form-group row">
      <label class= "col-md-5" for="Project">Project<span>*</span></label>
      <select ng-model="selectedProject" 
      			ng-change="selectedProjectChanged()" 
      			ng-options="project as project.name for project in projects" 
      			class= "form-control col-md-7">
      	  <option value=""></option> 
	  </select>
    </div>
    <div class="form-group row">
      <label for="Description" class= "col-md-5">Description<span>*</span></label>
      <input type="text" class="form-control col-md-7" ng-model="newTask.desc">
    </div>
	 <div class="form-group row">
      <label for="Description" class= "col-md-5">Start Date of Task [dd-mm-yyyy]<span>*</span></label>
      <div class = "col-md-7 zeroPadding">
	      <datepicker date-format="dd-MM-yyyy" >
	      	<input type="text" ng-class="{'errorMsg': startDateError}" class="form-control" ng-model="startDateStr">
	      </datepicker>
      </div>
    </div>
	 <div class="form-group row">
	   <label for="Description" class= "col-md-5">Due Date of Task [dd-mm-yyyy]<span>*</span></label>
	   <div class = "col-md-7 zeroPadding">
	      <datepicker date-format="dd-MM-yyyy" >
	      	<input type="text" ng-class="{'errorMsg': dueDateError}" class="form-control" ng-model="dueDateStr">
	      </datepicker>
      </div>
    </div>
    <div class="form-group row">
      <label for="sel2" class= "col-md-5">Who should do this? <span>*</span></label>
      <select multiple class="form-control col-md-7" id="sel2" name="sellist2"
      		ng-model="selectedEmployees" 
      			ng-change="selectedEmployeesChanged()" 
      			ng-options="employee.mid as employee.name for employee in employeesForProject" 
      		>
      	  <option value=""></option> 
      </select>
    </div>
    <button type="" class="btn btn-primary" ng-click="addNewTask()" ng-disabled="!isValidNewTask()">Add a task</button>
	<button type="" class="btn btn-primary" ng-click="goToHome()">Cancel</button>
  </form>
</div>

