<div class="container">

   <h2>Task Management</h2> 
  <a href="#/addTask" class="btn btn-info" role="button">Assign Tasks</a>
  <a href="#/viewTasks" class="btn btn-info" role="button">Task View</a>
  
</div>

  
