<div class="container">
  <h2>View Tasks</h2>
  <a href="#/home" class="" role="">Back</a>
  <form action="">
    <div class="form-group row">
      <label class= "col-md-5" for="Project">Filter by Project<span>*</span></label>
      <select ng-model="selectedProject" 
      			ng-change="selectedProjectChanged()" 
      			ng-options="project as project.name for project in projects" 
      			class= "form-control col-md-7">
	  </select>
    </div>
    
  </form>
  <div class="container" ng-repeat="project in selectedProjects">
  <h1>Project: {{project.name}}</h1>
  <div class="container" ng-repeat="task in tasksForProject | filterTaskForProject:project.pid">
  Task Description : {{task.desc}} </br>
  Task Start Date  : {{formatDate(task.startDate)}} </br>
  Task End Date    : {{formatDate(task.dueDate)}} </br>
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th>MID</th>
        <th>Employee Name</th>
        
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in task.employees">
        <td>{{employee.mid}}</td>
        <td>{{employee.name}}</td>
      </tr>
    </tbody>
  </table>
  <br>
  </div>
  <br>
  </div>
  
    <div class="container" ng-if="selectedProjects.length == 0">
      <h1>Project: {{selectedProject.name}}</h1>
      <p>No tasks for the project.</p>
  	</div>
</div>